<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mission</title>

    <style>
      * {
        color: white;
      }
    </style>

  </head>
  <body>
    <h3>Mission Satellite</h3>
    <p>
      Le reponsable de la communication satellite est tombé sur
      le champs de bataille. Il avait sur lui des informations cruciales et notament
      les codes d'accès du système de surveillance aérienne.
    </p>

    <p>
      À TOUTES LES UNITÉS SUR LE TERRAIN ! Vous devez retrouver son corps et récupérer
      les codes.
    </p>

    <p>
      Nos indications nous informent qu'il aurait été apercu pour la dernière
      fois aux abords du batiment M5.
    </p>

    <p>
      EXECUTIONS!
    </p>
  </body>
</html>
