<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8" />
  <title>L4D Admin</title>
  <link rel="stylesheet" href="{% static 'gameadmin/css/style.css '%}">

  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
  <link rel="stylesheet" type="text/css" href="{% static 'map/css/adminMap.css' %}">
  <link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
</head>
<body>

  <h1>L4D Admin</h1>


  <div id="notifs-box">
    <strong>Notifications</strong> <button id='notifs-clear-btn'>clear</button>
    <div id="notifs-list">
    </div>
  </div>

  <div id='game-state-box'>
    <strong>Game state:</strong> <span id='game-state'>...</span><br/>
    <button id='play-pause-btn'>...</button>
    <button id='stop-btn'>Stop</button>
  </div>

  <div id='map-box'>
    <div id='coord'></div>
    <div id='map'></div>
    <div id='content'>

      <h3>creer un nouveau marqueur</h3>
      <div id="form">
        <ul>
          <li><p>Titre : <input id="event-title" type="text" name="title" /></p></li>
          <li><p>Description : <textarea id="event-description" type="text" name="description" ></textarea></p></li>
          <li><p>Type :  <select name="type">
            <option value="danger">Danger</option>
            <option value="camp">Camp</option>
            <option value="medic">Medic</option>
            <option value="caisse">Caisse</option>
          </select></p></li>
          <li><p>    <button id="button">envoyer</button></p></li>
        </ul>
      </div>
    </div>
  </div>

  <script src="{% static 'gameadmin/js/controller.js' %}"></script>
  <script src="{% static 'map/js/adminMap.js' %}"></script>
</body>
</html>
