<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8" />
  <title>L4D Admin</title>
  <link rel="stylesheet" href="{% static 'gameadmin/css/style.css '%}">
</head>
<body>

  <h1>L4D Admin</h1>


  <div id="notifs-box">
    <strong>Notifications</strong> <button id='notifs-clear-btn'>clear</button>
    <div id="notifs-list">
    </div>
  </div>

  <div id='game-state-box'>
    <strong>Game state:</strong> <span id='game-state'>...</span><br/>
    <button id='play-pause-btn'>...</button>
    <button id='stop-btn'>Stop</button>
  </div>

  <div id='map-box'>
    THE MAP WILL BE HERE
  </div>

  <script src="{% static 'gameadmin/js/controller.js' %}"></script>
</body>
</html>
