#map {
    position:absolute;
    top : 0;
    left: 0;
    height: 75%;
    width:100%;
}
#content {
    /* width: 300px; */
    position: fixed;
    top:75%;
    /* border: 25px solid navy; */
    /* margin: 25px; */
}

#coord{
    position:fixed;
    right : 0%;
    top:0%;
    padding:0.7% 0.7%;
    background:rgba(0,0,0,0.5);
    color:#fff;
    font-size:11px;
    border-radius:3px;
}

#form ul li{
    display : inline;
}
#form ul li p{
    display : inline;
}